In [1]:
import numpy as np
from scipy.spatial.distance import cosine, euclidean
from scipy.stats import pearsonr

In [3]:
user1 = np.array([4, 5, 2, 3, 4])
user2 = np.array([5, 3, 2, 4, 5])

In [7]:
cosine_similarity = 1 - cosine(user1, user2)
print(f"Cosine Similarity: {cosine_similarity:.4f}")

Cosine Similarity: 0.9548

In [15]:
pearson_corr, _=pearsonr(user1, user2)
print(f"Pearson Correlation Similarity: {pearson_corr:.4f}")
print(_)

Pearson Correlation Similarity: 0.4372
0.4615774298689228

In [17]:
euclidean_distance = euclidean(user1, user2)
euclidean_similarity = 1 / (1+ euclidean_distance)
print(f"Euclidean Distance Similarity: {euclidean_similarity:.4f}")

Euclidean Distance Similarity: 0.2743

In [25]:
ratings = [
    { 5,  3,  4,  4,  2},
    {"Name": "John", "Value 1": 3, "Value 2": 1, "Value 3": 2, "Value 4": 3, "Value 5": 3},
    {"Name": "Ramya", "Value 1": 4, "Value 2": 3, "Value 3": 4, "Value 4": 5, "Value 5": 1},
    {"Name": "Kishore", "Value 1": 2, "Value 2": 2, "Value 3": 1, "Value 4": 2, "Value 5": 4}
]

In [31]:
users=["Raju","John","Ramya","Kishore"]

In [33]:
import pandas as pd
df = pd.DataFrame(ratings,index=users, columns=["Bahubali","Mufasa","Insterstellar","RRR","Mrs"])
df

         Bahubali  Mufasa  Insterstellar  RRR  Mrs
Raju          NaN     NaN            NaN  NaN  NaN
John          NaN     NaN            NaN  NaN  NaN
Ramya         NaN     NaN            NaN  NaN  NaN
Kishore       NaN     NaN            NaN  NaN  NaN

In [35]:
def compute_similarity(df):

SyntaxError: incomplete input (1948932895.py, line 1)